<div id="resources">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span>
            <i class="fa fa-puzzle-piece"></i></span>
        <br>
        <a class="navbar-brand" href="/">Full Spectrum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events-calendar">Events Calendar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron" id="resources">
        <h1 class="display-3 text-white">Resources</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card mx-auto mb-5">
                    <div class="card-body offset-2" id="welcome">
                        <h2 class="card-title">About Us</h2>
                       



                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>



<footer class="page-footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="white-text"></h5>
                <p class="white-text">
                    <ul>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                    </ul>
            </div>

            <div class="col-sm-6">
                <h5 class="text-white">Support</h5>
                <ul>
                    <li><a class="text-white" href="#!">Contact Us</a></li>
                    <li><a class="text-white" href="#!">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="text-muted">&copy;Full Spectrum 2020</div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>