<div id="blog">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span>
            <i class="fa fa-puzzle-piece"></i></span>
        <br>
        <a class="navbar-brand" href="/">Full Spectrum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="resource.html">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="jumbotron" >
        <h1 class="display-3 text-white">Full Spectrum Blog</h1>
    </div>

    <div class="container">
        <form class="clearfix mb-4" action="POST">
            <div class="form-group">
                <label for="blog-title">Blog Post Title</label>
                <input type="text" id="blog-post-title" class="form-control" aria-describedby="blog-title"
                    placeholder="Enter Title" />
            </div>
            <div class="form-group">
                <label for="blog-post">Blog Post</label>
                <textarea class="form-control" id="blog-post" aria-describedby="blog-post"
                    placeholder="Enter Post"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">
                Submit
            </button>
        </form>
        <h3>Blog Posts:</h3>
        <ul id="blogPost-list" class="list-group">
            {{#each posts}}
            <li data-id="{{this.id}}" class="list-group-item">
                <a href="post/{{this.id}}">{{this.title}} {{this.post}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
        </ul>

    </div>
</div>