<!--<!DOCTYPE html>
<html>

<head>-->
  <meta charset='utf-8' />
  <link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet'
    media='print' />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>
  <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js'></script>
  <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function () {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultDate: new Date(),
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: { url: "/api/events" },
        eventClick: function (calEvent, jsEvent, view, resourceObj) {
          swal({
            title: calEvent.title,
            text: "Start From : " + moment(calEvent.start).format("MMMM Do YYYY, h:mm a"),
            icon: "success",
          });
        }
      });
      $(".fc-right .fc-button-group").append(
        '<div class="input-group datetimepicker"><input type="text" class="form-control fc-datepicker" placeholder="YYYY-MM-DD" style="padding: 0;width: 0;border: none;margin: 0;"></div>');
      $(".fc-datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        showOn: "button",
        buttonText: '<span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>'
      });
    });
  </script>
  <style>
    body {
      margin: 40px 10px;
      padding: 0;
      font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }

    .hoverEffect {
      font-size: 29px;
      position: absolute;
      margin: 30px 55px;
      cursor: pointer;
    }

    .ui-datepicker-trigger {
      background: transparent;
      border: none;
      margin: 0 !important;
      padding: 0 !important;
    }

    .datetimepicker .input-group-addon {
      background-color: #f9f9f9;
      border-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      height: 2.1em;
      border: 1px solid #ccc;

    }

    .fc-state-default.fc-corner-right {
      border-radius: 0px;
    }
    </style>
    </head>
    <body>
      
      
<div id="calendar"></div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span>
            <i class="fa fa-puzzle-piece"></i></span>
        <br>
        <a class="navbar-brand" href="/">Full Spectrum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/events">Events Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron bg-primary">
        <h1 class="display-3 text-white">Events Calendar</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">

            </div>
        </div>

<footer class="page-footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="white-text"></h5>
                <p class="white-text">
                    <ul>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                    </ul>
            </div>

            <div class="col-sm-6">
                <h5 class="text-white">Support</h5>
                <ul>
                    <li><a class="text-white" href="#!">Contact Us</a></li>
                    <li><a class="text-white" href="#!">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="text-muted">&copy;Full Spectrum 2020</div>
        </div>
    </div>
</footer>


    </body>
    </html>