<div id="home">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span>
      <i class="fa fa-puzzle-piece"></i></span>
    <br>
    <a class="navbar-brand" href="/">Full Spectrum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron" style="background-image: url(affection1.jpg);">
    <h1 class="display-3 text-white">Welcome to Full Spectrum</h1>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-sm-8">
        <div class="card mx-auto mb-5">
          <div class="card-body offset-2" id="welcome">
            <h2 class="card-title">About Us</h2>
            <p>Full Spectrum is a forum for families of children with Autism Spectrum Disorder. Our hope is to create a community where
              families can gather
              to share ideas, discuss issues, as well as access resources and events in the community. While this is a
              free website for families, a user
              account must be created to access resources, write blog posts, and share in discussions with other users.
              To create your account, please click on the button below.
            </p>
            <p class="lead">
               <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLong">
    Sign Up
  </button>
            </p>
          </div>
        </div>
      </div>

  <!-- Modal -->
  <div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLongTitle">Create User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="user-name">Name</label>
                <input type="text" id="user-name" class="form-control" aria-describedby="user-name"
                  placeholder="Enter Name" />
              </div>
              <div class="form-group">
                <label for="email-address">Email Address</label>
                <textarea class="form-control" id="email-address" aria-describedby="email-address" placeholder="name@email.com"></textarea>
              </div>
            </form>
            <div class="form-group">
              <label for="password">Create Password</label>
              <textarea class="form-control" id="password" aria-describedby="password"
                placeholder="Password must be at least 8 characters"></textarea>
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{{{msg}}}
      <div class="col-sm-4">
        <form action="/login" method="post">
          <div class="form-group" id="sign-in">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Sign in</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<footer class="page-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="white-text"></h5>
        <p class="white-text">
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
      </div>

      <div class="col-sm-6">
        <h5 class="text-white">Support</h5>
        <ul>
          <li><a class="text-white" href="#!">Contact Us</a></li>
          <li><a class="text-white" href="#!">FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="text-muted">&copy;Full Spectrum 2020</div>
    </div>
  </div>
</footer>


