<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Blog Post</h5>
          <p>
            <strong>ID</strong>: {{Post.id}}</p>
          <p>
          <p>
            <strong>Blog Post Title</strong>: {{Post.title}}</p>
          <p>
            <strong>Blog Post</strong>: {{Post.body}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
