<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Blog Post</h5>
          <p>
            <strong>ID</strong>: {{{post.id}}}</p>
          <p>
            <p>
              <strong> User ID</strong>: {{{post.UserId}}}</p>
            <p>
          <p>
            <strong>Blog Post Title</strong>: {{{post.title}}}</p>
          <p>
            <strong>Blog Post</strong>: {{{post.body}}}</p>
            
        </div>
      </div>
    </div>
  </div>
  <a href="/">← Back To Home</a>
</div>
