<div id="resources">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span>
            <i class="fa fa-puzzle-piece"></i></span>
        <br>
        <a class="navbar-brand" href="/">Full Spectrum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events Calendar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>

<!--image by vcnestasozinhx from Pixabay-->
    <div class="jumbotron bg-secondary" id="resources" style="background-image: url(styles/asd.png);">
        <h1 class="display-3 text-white">Resources</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mx-auto mb-5 border-primary" id="resource">
                    <div class="card-body" id="resources">
                        <h2 class="card-title text-center">Autism Resource Websites</h2>
                        <hr>
                        <div class="row">
                        <div class="col-sm-6">
                        <ul class="list-group" id="list1">
                            <li><a href="https://www.autismspeaks.org/" target="blank">Autism Speaks</a></li>
                                <li><a href="https://nationalautismassociation.org/" target="blank">National Autism Association</a></li>
                                <li><a href="https://www.autism-society.org/" target="blank">Autism Society</a></li>
                                <li><a href="https://carolgraysocialstories.com/" target="blank">Social Stories</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group" id="list2">
                                <li><a href="https://www.centerforautism.com/" target="blank">Center for Autism and Related Disabilities</a></li>
                                    <li><a href="https://cfl.ucf-card.org/" target="blank">UCF CARD</a></li>
                                    <li><a href="https://www.socialthinking.com/" target="blank">Social Thinking</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<footer class="page-footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="white-text"></h5>
                <p class="white-text">
                    <ul>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                    </ul>
            </div>

            <div class="col-sm-6">
                <h5 class="text-white">Support</h5>
                <ul>
                    <li><a class="text-white" href="#!">Contact Us</a></li>
                    <li><a class="text-white" href="#!">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="text-white">&copy;Full Spectrum 2020</div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>